/*doc
---
title: Utilisation des couleurs
name: 00_useColors
category: Couleurs
---

Pour utiliser une couleur sur un élément, vous pouvez utiliser [le helper color][hColor].

`color:color($color-dark,'00');`
*/

/*doc
---
title: Liste des couleurs
name: 01_primaryColors
category: Couleurs
---

<div class="row">
    <div class="gyfatchColor">
      <div class="docgyfatch colorDark"></div>
      <div class="nameColor">$color-dark</div>
    </div>

    <div class="gyfatchColor">
      <div class="docgyfatch colorMedium"></div>
      <div class="nameColor">$color-medium</div>
    </div>

    <div class="gyfatchColor">
      <div class="docgyfatch colorLight"></div>
      <div class="nameColor">$color-light</div>
    </div>

</div>

<div class="row">
    <div class="gyfatchColor">
      <div class="docgyfatch colorPrimary"></div>
      <div class="nameColor">$color-primary</div>
    </div>

    <div class="gyfatchColor">
      <div class="docgyfatch colorHighlight"></div>
      <div class="nameColor">$color-highlight</div>
    </div>

     <div class="gyfatchColor">
      <div class="docgyfatch colorDanger"></div>
      <div class="nameColor">$color-danger</div>
    </div>

    <div class="gyfatchColor">
      <div class="docgyfatch colorSuccess"></div>
      <div class="nameColor">$color-succes</div>
    </div>
</div>

*/

.colorPrimary {
    background:color($color-primary,'00');
}

.colorDanger {
    background:color($color-danger,'00');
}

.colorSuccess {
    background:color($color-success,'00');
}

.colorHighlight {
    background:color($color-highlight,'00');
}

.colorDark {
    background:color($color-dark,'00');
}

.colorLight {
    background:color($color-light,'00');
}

.colorMedium {
    background:color($color-medium,'01');
}