
$name-font: 'Roboto';
$name-font-space: 'Roboto';

$name-font-title: 'Roboto_Condensed';
$name-font-space-title: 'RobotoCondensed';

$path-font: '../assets/fonts/#{$name-font}/';
$path-font-title: '../assets/fonts/#{$name-font-title}/';

@include font-face($name-font-space, $path-font + "#{$name-font}-Bold", 700, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-BoldItalic", 700, italic, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-Black", 900, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-BlackItalic", 900, italic, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-Italic", 500, italic, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-Light", 300, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-LightItalic", 300, italic, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-Regular", 500, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-Semibold", 600, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-SemiboldItalic", 600, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-Thin", 100, $file-formats:ttf);
@include font-face($name-font-space, $path-font + "#{$name-font}-ThinItalic", 100, italic, $file-formats:ttf);

@include font-face($name-font-space-title, $path-font-title + "#{$name-font-space-title}-Bold", 700, $file-formats:ttf);
@include font-face($name-font-space-title, $path-font-title + "#{$name-font-space-title}-BoldItalic", 700, italic, $file-formats:ttf);
@include font-face($name-font-space-title, $path-font-title + "#{$name-font-space-title}-Italic", 500, italic, $file-formats:ttf);
@include font-face($name-font-space-title, $path-font-title + "#{$name-font-space-title}-Light", 100, $file-formats:ttf);
@include font-face($name-font-space-title, $path-font-title + "#{$name-font-space-title}-LightItalic", 100, italic, $file-formats:ttf);
@include font-face($name-font-space-title, $path-font-title + "#{$name-font-space-title}-Regular", 500, $file-formats:ttf);

$font-family-base: $name-font-space, sans-serif;
$font-family-title: $name-font-space-title, sans-serif;

$font-size-base: 12px;

$space-xs:5;
$space-sm:10;
$space-md:15;
$space-lg:20;
$space-xl:20;

$font-xxxl: 3.998em;
$font-xxl: 2.827em;
$font-xl: 1.999em;
$font-lg: 1.414em;
$font-md: 1em;
$font-md1: .9em;
$font-sm: .707em;
$font-xs: .5em;

$color-medium-base: #FAFCFC;
$color-light-base: #FFFFFF;
$color-dark-base: #383F47;

$color-primary-base: #D12B2B;

$color-highlight-base: #009BD9;
$color-danger-base: #ED4D4D;
$color-success-base: #09C58E;

$color-primary: (
    '00': $color-primary-base,
    'dark': darken($color-primary-base, 3%),
    'light': lighten($color-primary-base, 3%)
);

$color-highlight: (
    '10' : $color-highlight-base,
    '00' : lighten($color-highlight-base, 10%),
    '01' : lighten($color-highlight-base, 2%),
    '02' : darken($color-highlight-base, 2%),
);

$color-danger: (
    '00' : $color-danger-base,
    'light' : lighten($color-danger-base, 3%),
    'dark' : darken($color-danger-base, 3%),
);

$color-success: (
    '00' : $color-success-base,
    'light' : lighten($color-success-base, 3%),
    'dark' : darken($color-success-base, 3%),
);

$color-medium: (
    '00' : $color-medium-base,
    '01' : lighten($color-medium-base, 15%),
    '02' : lighten($color-medium-base, 5%),
    '03' : $color-medium-base,
    '04' : darken($color-medium-base, 5%),
    '05' : darken($color-medium-base, 15%)
);

$color-dark: (
    '00' : #222327,
    '01' : $color-dark-base,
    '03' : lighten($color-dark-base, 4%),
    '04' : lighten($color-dark-base, 6%),
    '05' : lighten($color-dark-base, 8%),
    '07' : lighten($color-dark-base, 12%),
    '09' : lighten($color-dark-base, 16%),
    '11' : lighten($color-dark-base, 20%)
);

$color-light: (
    '00' : lighten($color-light-base, 3%),
    '01' : $color-light-base,
    '02' : darken($color-light-base, 2%),
    '03' : darken($color-light-base, 4%),
    '05' : darken($color-light-base, 8%),
    '07' : desaturate(darken($color-light-base, 12%), 5%),
    '09' : desaturate(darken($color-light-base, 16%), 5%),
    '11' : desaturate(darken($color-light-base, 20%), 5%),
    '13' : desaturate(darken($color-light-base, 24%), 5%)
);

$aside-width: 250px;
$aside-width-ico: 80px;

/*************************************************
* BADGES
*************************************************/

$badge-bg: color($color-highlight, '10');
$badge-border: color($color-highlight, '01');
$badge-color: color($color-light, '00');

$badge-bg-inverse: color($color-dark, '03');
$badge-border-inverse: color($color-dark, '00');
$badge-color-inverse: color($color-light, '00');



/*************************************************
* CHIPS
*************************************************/

$chips-bg: color($color-highlight, '10');
$chips-color: color($color-light, '00');

/*************************************************
* INPUT
*************************************************/


$input-bg: color($color-light, '00');
$input-border: color($color-light, '09');
$input-color: #878787;
$input-border-radius: 4px;

$input-bg-inverse: color($color-dark, '00');
$input-border-inverse: color($color-dark, '09');
$input-color-inverse: color($color-light, '03');
