$name-components: breadcrumb;
$this: #{$name-base}-#{$name-components};

/*doc
---
title: Breadcrumbs
name: breadcrumbs
category: Components
---

Description du composant...

```html_example
<ul class="gyf-breadcrumb">
    <li class="gyf-breadcrumb-item">
        <a href="" class="gyf-breadcrumb-link">Link 1</a>
    </li>
    <li class="gyf-breadcrumb-item">
        <a href="" class="gyf-breadcrumb-link">Link 2</a>
    </li>
    <li class="gyf-breadcrumb-item">
        <a href="" class="gyf-breadcrumb-link">Link 3</a>
    </li>
    <li class="gyf-breadcrumb-item mod-selected">
        <a href="" class="gyf-breadcrumb-link">Link 4</a>
    </li>
</ul>
```

*/

#{$this} {
  @include display(flex);
  font-size: 11px;

  &-item {
    color: color($color-dark, '03');

    &::after {
      display: inline-block;
      content: '/';
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &:hover {
      cursor: pointer;
      color: color($color-highlight, '00');
    }

    &.mod-selected {
      color: color($color-highlight, '00');
    }
  }

  &-link {
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    color: currentColor;
    font-weight: 700;
  }
}
