$name-components : notification;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Notifications
name: notification
category: Components
---

Par défaut, les notifications disparaissent au bout de 5 secondes. Il est également possible de les faire disparaitre en cliquant dessus.

Pour les faire apparaitre, on ajoute la classe `fadeInUp` et `is-shown`.<br/>
Pour les faire disparaitre, on ajoute la classe `fadeOutDown`.

```html_example

<a class="gyf-btn mod-success" data-action="openNotification" data-notification="success">Notification succès par défaut</a>
<a class="gyf-btn mod-danger" data-action="openNotification" data-notification="error">Notification erreur par défaut</a>
<a class="gyf-btn mod-primary" data-action="openNotification" data-notification="info">Notification information par défaut</a>

<div class="gyf-notification mod-success mod-top mod-center animated" data-type-notification="success" data-action="closeNotification">
    <a class="gyf-notification-close" >
        <i class="icon-close fa fa-times"></i>
    </a>

    <div class="gyf-notification-title">
        Succès
    </div>

    <p class="gyf-notification-content">
        Message de succès
    </p>
</div>


<div class="gyf-notification mod-error mod-right mod-top animated" data-type-notification="error" data-action="closeNotification">
    <a class="gyf-notification-close">
        <i class="icon-close fa fa-times"></i>
    </a>

    <div class="gyf-notification-title">
        Erreur
    </div>

    <p class="gyf-notification-content">
        Explication de l'erreur
    </p>
</div>

<div class="gyf-notification mod-info mod-right mod-bottom animated" data-type-notification="info" data-action="closeNotification">
    <a class="gyf-notification-close">
        <i class="icon-close fa fa-times"></i>
    </a>

    <div class="gyf-notification-title">
        Information
    </div>

    <p class="gyf-notification-content">
        Message d'information
    </p>
</div>
```

## Type de notification 

Type            | Modifier Class
----------------| ------------------------
Succès          | `mod-success`
Erreur          | `mod-error`
Information     | `mod-info`

## Positionnnement 

Positionnement  | Modifier Class
----------------| ------------------------
Haut gauche     | `mod-top mod-left`
Haut droit      | `mod-top mod-right`
Bas droit       | `mod-bottom mod-right`
Bas gauche      | `mod-bottom mod-left`
Haut centré     | `mod-top mod-center`
Bas centré      | `mod-bottom mod-center`

*/

#{$this} { 
    background:color($color-dark,'03');
    border:2px solid color($color-dark,'00');
    color:color($color-light,'03');
    box-shadow:0 4px 8px 0 rgba(0,0,0,.5);
    padding:15px;
    font-size:.8em;
    min-width: 200px;
    max-width: 500px;
    border-radius:3px;
    display: none;

    z-index: z('modal');

    position: fixed;

    &-close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: color($color-medium,'04');
        font-size: 1.2em;
        &:hover {
            cursor: pointer;
            color: color($color-light,'01');
        }
    }
    
    &-title {
        color:color($color-light,'00');
        font-size:1.3em;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    &-content {
        color:color($color-light,'00');
        font-size: 1.1em;
        font-weight: 500;
        margin:0;
    }

    &.is-shown {
        display: inline-block;
    }

    &.mod-top {
        top:20px;    
    }

    &.mod-left {
        left:20px;
    }

    &.mod-right {
        right:20px;
    }
    
    &.mod-bottom {
        bottom:20px;
    }

    &.mod-center {
        left:45%;

    }

    &.mod-success {
        border:2px solid color($color-success,'00');
    }

    &.mod-error {
        border:2px solid color($color-danger,'00');
    }

    &.mod-info {
        border:2px solid color($color-highlight,'00');
    }
}