$name-components : table;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Tableau
name: table
category: Components
---

```html_example
<table class="gyf-table">
    <thead>
        <tr>
            <th>
                Header 1
            </th>
            <th>
                Header 2
            </th>
            <th>
                Header 3
            </th>
            <th>
                Header 4
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
        </tr>

        <tr>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
        </tr>

        <tr>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
            <td>fdkjfkds</td>
        </tr>

    </tbody>
</table>
```

*/

#{$this} { 
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    thead {
        th {
            border-top: 1px solid #ddd;
            text-transform: uppercase;
            font-weight: 300;
            border-bottom: 1px solid #fff;
            font-size:11px;
            color:color($color-dark,'03');
        }
    }

    tbody {

        > tr:nth-child(2n+1) > td {
            background:color($color-light,'02');
        }

        > tr:nth-child(2n) > td {
            background:color($color-light,'01');
        }

        > tr {
            height:40px;
        }

        > tr > td {
            border-top: 1px solid #ddd;
            font-size:11px;
            padding-left: 10px;
        }

    }

    th {
        height:40px;
        background:color($color-light,'03');
    }
}