$name-components : avatar;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Avatar
name: avatar
category: Components
---

```html_example
<img class="gyf-avatar mod-xl" src="img/profil.png">
<img class="gyf-avatar mod-lg" src="img/profil.png">
<img class="gyf-avatar" src="img/profil.png">
<img class="gyf-avatar mod-sm" src="img/profil.png">
<img class="gyf-avatar mod-xs" src="img/profil.png">
```

*/

$avatarSize : 32px;
$avatarStepSize : 8px;

#{$this} { 
    border-radius: 50%;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    
    line-height: 1;
    margin: 0;
    position: relative;
    vertical-align: middle;
    
    width: $avatarSize;
    height: $avatarSize;
    
    &.mod-xs {
        width: calc(#{$avatarSize} - (2 * #{$avatarStepSize}));
        height: calc(#{$avatarSize} - (2 * #{$avatarStepSize}));
    }
    
    &.mod-sm {
        width: calc(#{$avatarSize} - (1 * #{$avatarStepSize}));
        height: calc(#{$avatarSize} - (1 * #{$avatarStepSize}));
    }
    
    &.mod-lg {
        width:calc(#{$avatarSize} + (1 * #{$avatarStepSize}));
        height:calc(#{$avatarSize} + (1 * #{$avatarStepSize}));
    }
    
    &.mod-xl {
        width:calc(#{$avatarSize} + (2 * #{$avatarStepSize}));
        height:calc(#{$avatarSize} + (2 * #{$avatarStepSize}));
    }
}