$name-components: btn;
$this: #{$name-base}-#{$name-components};

/*doc
---
title: Boutons
name: btn
category: Components
---

## Style par défaut

```html_example
<a class="gyf-btn mod-default">Bouton default</a>
<a class="gyf-btn mod-inverse">Bouton inverse</a>
<a class="gyf-btn mod-primary">Bouton primary</a>
<a class="gyf-btn mod-success">Bouton success</a>
<a class="gyf-btn mod-danger">Bouton danger</a>
<a class="gyf-btn mod-link">Bouton link</a>
```

## Sizing

```html_example
<a class="gyf-btn mod-inverse mod-sm">Bouton inverse small</a>
<a class="gyf-btn mod-inverse">Bouton inverse normal</a>
<a class="gyf-btn mod-inverse mod-lg">Bouton inverse large</a>
<a class="gyf-btn mod-inverse mod-xl">Bouton inverse extra large</a>
```

## Grouped

```html_example
<div class="gyf-btn-group" role="group" aria-label="Button group">
  <button type="button" class="gyf-btn mod-inverse">Left</button>
  <button type="button" class="gyf-btn mod-inverse">Middle</button>
  <button type="button" class="gyf-btn mod-inverse">Right</button>
</div>
```

*/

$btn-border-radius:3px;
$btn-font-size:.8rem;

#{$this} {
  @include user-select(none);
  display: inline-block;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-top: 1px solid rgba(255, 255, 255, .05);
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .35);
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-radius: $btn-border-radius;
  background-image: none;
  cursor: pointer;
  padding: 6px 12px;
  vertical-align: middle;
  text-align: center;
  line-height: 1.42857143;
  white-space: nowrap;
  font-size: $btn-font-size;
  font-weight: 400;
  -ms-touch-action: manipulation;
  touch-action: manipulation;

  &[disabled],
  &.mod-disabled {
    opacity: .5;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.mod-inverse {
    @include linear-gradient(to top, color($color-light, '01'), color($color-light, '00'), $fallback : color($color-light, '01'));
    border: 1px solid  color($color-light, '11');
    color: color($color-dark, '11');

    &:hover {
      @include linear-gradient(to top, color($color-light, '01'), color($color-light, '01'), $fallback : color($color-light, '01'));
    }
  }

  &.mod-default {
    @include linear-gradient(to top, color($color-dark, '07'), color($color-dark, '11'), $fallback : color($color-dark, '07'));
    color: color($color-light, '03');

    &:hover {
      @include linear-gradient(to top, color($color-dark, '07'), color($color-dark, '07'), $fallback : color($color-dark, '07'));
    }
  }

  &.mod-primary {
    @include linear-gradient(to top, color($color-primary, 'dark'), color($color-primary, 'light'), $fallback : color($color-primary, 'dark'));
    border: 1px solid color($color-primary, 'dark');
    color: color($color-light, '00');

    &:hover,
    &:focus {
      border: 1px solid color($color-primary, 'dark');
      background: color($color-primary, 'dark');
    }
  }

  &.mod-success {
    @include linear-gradient(to bottom, color($color-success, '00') , darken(color($color-success, '00'), 5%), $fallback :  color($color-success, '00'));
    border-color: color($color-success, 'dark');
    color: color($color-light, '00');

    &:hover,
    &:focus {
      border: 1px solid color($color-success, 'dark');
      background: color($color-success, '00');
    }
  }

  &.mod-danger {
    @include linear-gradient(to bottom, color($color-danger, '00') , darken(color($color-danger, '00'), 5%), $fallback :  color($color-danger, '00'));
    border: 1px solid color($color-danger, 'dark');
    color: color($color-light, '00');

    &:hover,
    &:focus,
    &:active {
      border: 1px solid color($color-danger, 'dark');
      background: color($color-danger, '00');
    }

  }

  &.mod-link {
    border-color: transparent;
    color: color($color-highlight, '00');
  }

  &.mod-dropdown {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    font-size: 12px;

    .icon-dropdown {
      margin-left: 5px;
    }
  }

  &.mod-sm {
    font-size: .6rem;
  }

  &.mod-lg {
    font-size: 1rem;
  }

  &.mod-xl {
    font-size: 1.2rem;
  }
}

#{$this}-group {
  @include display(inline-block);
  position: relative;

  > #{$this} {
    position: relative;
    float: left;
    margin-left: 0;
  }

  > #{$this}:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > #{$this}:not(:first-child):not(:last-child) {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  > #{$this}:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
