* {
  box-sizing: border-box;
}


.gyf-body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  overflow:hidden;
  height:100vh;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  margin:0;
  padding:0;
  li {
    list-style: none;
  }
}
.link {
  color:color($color-highlight,'00');
}
