$name-components : navbar;
$this : #{$name-base}-#{$name-components};

$navbar-bg : $colorAT;

/*doc
---
title: Barre principale
name: 01_navBar
category: Layout
---

Button styles can be applied to any element. Typically you'll want to
use either a `<button>` or an `<a>` element:


```html_example
<div class="gyf-navbar">
  <div class="gyf-navbar-content">
        <span uib-dropdown="" on-toggle="toggled(open)" class="gyf-dropdown gyf-navbar-name dropdown">
            <div class="gyf-navbar-name-container dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                <div class="logo">
                    <img src="img/logo.svg" alt="">
                </div>
                <div class="gyf-navbar-name-app">
                    <div class="gyf-navbar-name-value ng-binding">
                        Navigation
                    </div>
                </div>
                <div class="gyf-navbar-name-arrow ml-auto">
                    <i class="fa fa-th"></i>
                </div>
            </div>
           </span>


        <div class="gyf-separator mod-light mod-vertical"></div>

        <div class="gyf-menu-app">
            <ul class="gyf-menu-app-list">
                <li class="gyf-menu-app-item mod-active">
                    <a href="#/navigation/analyze" class="gyf-menu-app-link">Analyze</a>
                </li>
                <li class="gyf-menu-app-item">
                    <a href="#/navigation/designer" class="gyf-menu-app-link">My documents</a>
                </li>
            </ul>
        </div>

        <div class="gyf-navbar-ico ml-auto">
            <div class="gyf-navbar-ico-content">
                <i class="pe-7s-drawer"></i>
            </div>
            <div class="gyf-navbar-ico-content">
                <i class="pe-7s-bell"></i>
            </div>
        </div>

        <div class="gyf-separator mod-light mod-vertical"></div>

        <div class="gyf-navbar-login">
            <div class="gyf-navbar-login-img" style="background-image:url('img/profil.png')">
            </div>
            <div class="gyf-navbar-login-name">
                Erwan
                <span class="u-bold">lumbroso</span>
            </div>
            <i class="fa fa-angle-down ml-auto fa-2x"></i>
        </div>
    </div>
</div>
```

*/

#{$this} {
  @include display(flex);
  @include flex-direction(column);

  background: $navbar-bg;
  color:white;
  font-size:$font-md1;
  z-index: z('navbar');
  height:40px;
  padding:0 20px;

  &.mod-has-document {
    height:90px;
  }



  &-content {
    height:40px;
    @include display(flex);
    @include flex(1);
    @include align-items(center);
    &:first-child {
      max-height: 40px;
    }
  }

  &-name {
    @include display(flex);
    @include flex(0 0 230px);
    @include flex-direction(column);
    padding-right:10px;

    @include media('<tablet') {
      @include flex(0 0 20px);
    }


  }

  &-name-container {
    position: relative;
    @include display(flex);
    @include align-items(center);
  }

  &-name-app {
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: 700;

    @include media('<tablet') {
      display: none;
    }
  }

  &-ico {
    @include display(flex);
    &-content {
      padding: 10px;
      font-size:19px;
      @include transition(color 0.3s ease-in-out);
      &:hover {
        cursor:pointer;
        color:color($color-highlight,'00');
        @include transition(color 0.3s ease-in-out);
      }
    }
  }

  &-login {
    @include display(flex);
    @include align-items(center);
    @include flex(0 0 230px);

    margin-left:10px;

    @include transition(color 0.3s ease-in-out);

    &-img {
      width: 25px;
      height: 25px;
      background-size: cover;
      border-radius: 150px;
      margin-right: 10px;
    }

    &-name {
      font-size:$font-md1;
      text-transform: uppercase;
      font-weight: 300;
      color:currentColor;
    }

    &:hover {
      cursor: pointer;
      color:color($color-highlight,'00');
      @include transition(color 0.3s ease-in-out);
    }

  }
}
