
@mixin generate-spacing-classes(
  $default-space-amounts-with-direction: ($space-xs left l xs, $space-sm left l sm,$space-md left l md, $space-lg left l lg, $space-xl left l xl)
) {
  @each $space in $default-space-amounts-with-direction {
    .m#{nth($space, 3)}-#{nth($space, 4)} {
      margin-#{nth($space, 2)}: #{nth($space, 1)}px;
    }

    .p#{nth($space, 3)}-#{nth($space, 4)} {
      padding-#{nth($space, 2)}: #{nth($space, 1)}px;
    }
  }
}


/*doc
---
title: Z-Index
name: zIndex
category: Helpers
---

Ce helper permet de récupérer le z-index correspondant à un composant. La gestion des z-index est donc facilitée
puisqu'elle est centralisée dans un tableau.


<div class="codeBlock">
<div class="highlight">
<pre>
z-index:z('modal');
</pre>
</div>
</div>


Z Index disponible :

z-index           | Value
----------------  | -----------------
modal             | 5000
dropdown          | 4000
navbar            | 3
default           | 1
below             | -1

*/

/// Z-indexes map, gathering all Z layers of the application
/// @access private
/// @type Map
/// @prop {String} key - Layer's name
/// @prop {Number} value - Z value mapped to the key
$z-indexes: (
        'modal': 5000,
        'dropdown': 4000,
        'tooltip': 4000,
        'badge': 5,
        'navbar': 3,
        'default': 1,
        'below': -1,
);

/// Get a z-index value from a layer name
/// @access public
/// @param {String} $layer - Layer’s name
/// @return {Number}
/// @require $z-indexes
@function z($layer) {
  @return map-get($z-indexes, $layer);
}

/*doc
---
title: Couleur
name: hColor
category: Helpers
---

Utilisation du helper pour insérer une couleur sur un élément.


<div class="codeBlock">
<div class="highlight">
<pre>
color:color($color-dark,'00');
</pre>
</div>
</div>


*/

/// Get a color value from a color map
/// @access public
/// @param {String} $style - normal / dark / light
/// @param {String} $map-color - $color-primary / $color-secondary / $color-grey / $color-hightlight / $color-light /
/// @return {Number}
/// @require $map-color
@function color($map-color,$style ) {
  @return map-get($map-color, $style);
}


/*doc
---
title: When inside
name: whenInside
category: Helpers
---

Le helper when-inside permet de définir un style pour élément lorsqu'il se trouve dans une autre classe.

<div class="codeBlock">
<div class="highlight">
<pre>
.paragraph {
    font-size:12px;
}

@include when-inside('.navbar') {
    .paragraph {
        font-size:10px;
    }
}
</pre>
</div>
</div>


*/


/// Helper mixin to provide simple API to selector nesting
/// @param {String} $selector - Selectorfd
@mixin when-inside($selector) {
  #{$selector} & {
    @content;
  }
}

@mixin box-shadow() {
  box-shadow: rgba(121,121,121,.5) 0 0 4px 0;
}