$right-space-vars: ($space-xs right r xs, $space-sm right r sm,$space-md right r md, $space-lg right r lg, $space-xl right r xl);
$bottom-space-vars: ($space-xs bottom b xs, $space-sm bottom b sm,$space-md bottom b md, $space-lg bottom b lg, $space-xl bottom b xl);
$top-space-vars: ($space-xs top t xs, $space-sm top t sm,$space-md top t md, $space-lg top t lg, $space-xl top t xl);
$left-space-vars : ($space-xs left l xs, $space-sm left l sm,$space-md left l md, $space-lg left l lg, $space-xl left l xl);

@include generate-spacing-classes($left-space-vars); // left comes by default
@include generate-spacing-classes($right-space-vars);
@include generate-spacing-classes($bottom-space-vars);
@include generate-spacing-classes($top-space-vars);


/*doc
---
title: Margin
name: margin
category: Utilities
---

Structure : m*position*-*size*

Position :
t (top)
b (bottom)
r (right)
l (left)

Size :
xs
sm
md
lg

```html_example
<div class="mt-lg">Texte bold</div>
<div class="mb-lg ml-lg">Texte normal</div>

```

*/


/*doc
---
title: Padding
name: padding
category: Utilities
---

Structure : p*position*-*size*

Position :
t (top)
b (bottom)
r (right)
l (left)

Size :
xs
sm
md
lg

```html_example
<div class="pb-lg">Texte bold</div>
<div class="pb-lg pl-lg">Texte normal</div>
```

*/

.p-lg {
  padding:#{$space-lg}px!important;
}

.p-md {
  padding:#{$space-md}px!important;
}

.p-sm {
  padding:#{$space-sm}px!important;
}

.p-xs {
  padding:#{$space-xs}px!important;
}

@mixin generate-spacing-classes($space-vars) {
  @each $space in $space-vars {

    .m#{nth($space, 3)}-#{nth($space, 4)} {
      margin-#{nth($space, 2)}: #{nth($space, 1)}px !important;
    }

    .p#{nth($space, 3)}-#{nth($space, 4)} {
      padding-#{nth($space, 2)}: #{nth($space, 1)}px !important;
    }

  }
}


.ml-auto {
  margin-left:auto;
}

.mr-auto {
  margin-right:auto;
}