
.u-hide {
  display: none!important;
}

/*doc
---
title: Text
name: text
category: Utilities
---

```html_example
<div class="u-bold">Texte bold</div>
<div class="u-normal">Texte normal</div>
<div class="u-uppercase">Texte majuscule</div>
<div class="u-truncate-text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aspernatur at atque illo numquam perspiciatis possimus sequi soluta tempore voluptatem! Aliquam debitis dolores, doloribus excepturi harum officia pariatur totam veritatis?
</div>
```

*/

.u-bold {
  font-weight: 700;
}

.u-normal {
  font-weight: 500;
}

.u-uppercase {
  text-transform: uppercase!important;
}

.u-truncate-text {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*doc
---
title: Text Alignment
name: textAlignment
category: Utilities
---


```html_example
<div class="u-text-left">Text aligné gauche</div>
<div class="u-text-right">Text aligné droite</div>
```

*/

.u-text-left {
  text-align: left!important;
}

.u-text-right {
  text-align: right!important;
}

.u-no-padding {
  padding:0!important;
}

.u-no-margin {
  margin:0!important;
}

.u-bg-grey {
  background:color($color-light,'02');
}

.u-full-height {
  height: 100%;
}

.u-no-overflow {
    overflow: hidden;
}

.u-bg-dark03 {
    background:color($color-dark,'03');
}

.u-bg-light01 {
    background:color($color-light,'01');
}

.u-relative {
    position: relative;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

/*doc
---
title: Afficher/Masquer
name: textShow
category: Utilities
---

La classe `.is-show-block` permet d'afficher un élément en mode block.

La classe `.is-show` permet d'afficher un élément en mode inline-block;

La classe `.is-hide` permet de masquer un élément.

*/

.is-show-block {
    display: block!important;
}

.is-show {
    display: inline-block!important;
}

.is-hide {
    display: none!important;
}
