$name-bloc : calendar;
$this : #{$name-base-bloc}-#{$name-bloc};

/*doc
---
title: Calendrier
name: calendar
category: Blocs
---

```html_example
<div class="gyf-b-calendar">
    <div class="gyf-b-calendar-type p-md">
        <div class="row">
                <div class="col-xs-12">
                    <ul class="gyf-tabs gyf-tabs-line ">
                        <li class="gyf-tabs-item ">
                            <a class="gyf-tabs-link">Période relative</a>
                            <div class="gyf-tabs-bloc-selected"></div>
                        </li>
                        <li class="gyf-tabs-item mod-item-selected">
                            <a class="gyf-tabs-link">Période fixe</a>
                            <div class="gyf-tabs-bloc-selected"></div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>

    <div class="gyf-b-calendar-granularite p-sm"> 
        <div class="row">
            <div class="col-xs-12">
                <ul class="gyf-tabs gyf-tabs-bubble">
                    <li class="gyf-tabs-item mod-item-selected">
                        <a class="gyf-tabs-link">Jours</a>
                    </li>
                    <li class="gyf-tabs-item">
                        <a class="gyf-tabs-link">Semaine</a>
                    </li>
                    <li class="gyf-tabs-item">
                        <a class="gyf-tabs-link">Mois</a>
                    </li>
                    <li class="gyf-tabs-item">
                        <a class="gyf-tabs-link">Trimestre</a>
                    </li>
                    <li class="gyf-tabs-item">
                        <a class="gyf-tabs-link">Aujourd'hui</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <div class="gyf-b-calendar-content p-md">
        <div class="row">
            <div class="col-xs-4">
                <div class="gyf-dropdown">
                    <button class="gyf-btn mod-default mod-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Raccourcis
                        <span class="fa fa-angle-down icon-dropdown"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt-xl">
            <div class="col-xs-6">
                <div class="gyf-form-group">
                    <label class="gyf-form-label mod-light" for="from">from</label>
                    <input type="text" class="gyf-input mod-inverse" id="from" value="02/25/2016">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="gyf-form-group">
                    <label class="gyf-form-label mod-light" for="to">To</label>
                    <input type="text" class="gyf-input mod-inverse" id="to" value="02/28/2016">
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xs-12">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label mod-light">
                        <input type="checkbox">Activer la comparaison
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="gyf-b-calendar-footer p-sm">
        <div class="row middle-xs">
            <div class="col-xs-6">
                <a href="#" class="gyf-icon mod-light">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
            </div>
            <div class="col-xs-6 end-xs">
                <a href="#" class="gyf-btn mod-primary">Valider</a>
            </div>
        </div>
    </div>
    
</div>
```

*/

#{$this} { 
    width: 480px;
    background:color($color-dark,'07');
    border-radius: 0 0 2px 2px;
    
    font-size:12px;
    
    &-type {
        background:color($color-light,'01');
        border:1px solid color($color-light,'05');
    }
    
    &-granularite {
        background:color($color-dark,'03');
        border:1px solid color($color-dark,'00');
        border-bottom: none;
    }
    
    &-content {
        border:1px solid color($color-dark,'00');
        border-top: none;
        border-bottom: none;
    }
    
    &-footer {
        border:1px solid color($color-dark,'00');
        border-top:1px solid color($color-dark,'01');
        box-shadow:inset 0px 1px 0px 1px color($color-dark,'09');
        border-radius: 0px 0px 2px 2px;
    }
}

