$name-components : profil;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Profil
name: profil
category: Components
---

Profil utilisé dans le composant [chips][chips].

```html_example
<div class="gyf-profil">
    <img class="gyf-avatar" src="img/profil.png">
    <div class="gyf-profil-content">
        <div class="gyf-profil-fullname">
            <span class="">Johnny</span>
            <span class="u-bold">Hallyday</span>
        </div>
        <div class="gyf-profil-mail u-truncate-text">
            johnny.hallyday@maisonderetraite.com
        </div>
    </div>
</div>
```

*/

#{$this} {
    @include display(flex);
    @include align-items(center);
    font-size:1em;

      margin-top: auto;

    &-content {
        @include display(flex);
        @include flex-direction(column);
        margin-left: 5px;
        width: 87%;
    }

    &-fullname {
        font-size: 1em;
    }

    &-mail {
        font-weight: 300;
        font-size: .8em;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-noavatar {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      background:color($color-dark,'01');
      border-radius: 3px;
      height:40px;
      width: 40px;
      text-transform: uppercase;
      color: color($color-light,'00');
      &:hover {
        color: color($color-light, '00');
        box-shadow: inset 0 0 2px 0 color($color-highlight, '00');
      }
    }

    @include when-inside('.gyf-b-share-user') {
        width: 95%;
    }
}
