$name-components : pagination;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Pagination
name: pagination
category: Components
---

```html_example

<ul class="gyf-pagination">
    <li class="gyf-pagination-item mod-active">
        <a class="gyf-pagination-link">1</a>
    </li>
    <li class="gyf-pagination-item">
        <a class="gyf-pagination-link">2</a>
    </li>
    <li class="gyf-pagination-item">
        <a class="gyf-pagination-link">3</a>
    </li>
    <li class="gyf-pagination-item">
        <a class="gyf-pagination-link">4</a>
    </li>
    <li class="gyf-pagination-item">
        <a class="gyf-pagination-link">5</a>
    </li>
    <li class="gyf-pagination-item">
        <a class="gyf-pagination-link gyf-pagination-next ">
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
</ul>
```

*/

#{$this} { 
    @include linear-gradient(to top, color($color-light,'01'), color($color-light,'00'),$fallback : color($color-light,'01'));
    border:1px solid color($color-light,'11');
    border-radius:150px;
    text-align: center;
    @include display(inline-flex);
    font-size:11px;
    
    &-item {
        @include display(flex);
        @include align-items(center);
        &.mod-active {
            #{$this}-link {
                color:  color($color-highlight,'00') 
            }
        }
    }
    
    &-link {
        padding:6px 12px;
        position: relative;
        float: left;
        line-height: 1.42857143;
        color:color($color-dark,'11');
        font-weight: 700;
        font-size: .9em;
        &:hover {
            cursor: pointer;
            color:  color($color-highlight,'00') 
        }
    }

    &-next {
        font-size: 1.3em;
    }
}