$name-bloc : select-perimeter;
$this : #{$name-base-bloc}-#{$name-bloc};

/*doc
---
title: Choix d'un périmètre
name: selectPerimeter
category: Blocs
---

```html_example
<div class="gyf-b-select-perimeter">
    <div class="row">
        <div class="col-xs-12">
            <div class="gyf-search-input">
                <i class="icon-search fa fa-search"></i>
                <input type="text" class="gyf-input mod-no-rounded" placeholder="Rechercher..." data-input="search">
                <i class="icon-empty fa fa-times" data-action="remove-search"></i>
            </div>
        </div>
    </div>
    <div class="gyf-b-select-perimeter-type p-sm"> 
        <div class="row">
            <div class="col-xs-12">
                <ul class="gyf-tabs gyf-tabs-bubble mod-light mod-full-width">
                    <li class="gyf-tabs-item mod-item-selected">
                        <a class="gyf-tabs-link">Groupes</a>
                    </li>
                    <li class="gyf-tabs-item u-relative">
                        <a class="gyf-tabs-link">Sites</a>
                        <div class="gyf-badge">
                            2
                        </div>
                    </li>
                    <li class="gyf-tabs-item">
                        <a class="gyf-tabs-link">Level 2 sites</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="gyf-b-select-perimeter-content p-md">
        <ul>
            <li class="">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>
            <li class="pt-sm">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>
            <li class="pt-sm">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>
            <li class="pt-sm">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>
            <li class="pt-sm">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>
            <li class="pt-sm">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>
            <li class="pt-sm">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>
            <li class="pt-sm">
                <div class="gyf-form-checkbox mod-inline">
                    <label class="gyf-form-label">
                        <input type="checkbox">Check me out
                    </label>
                </div>
            </li>

        </ul>
    </div>
    <div class="gyf-b-select-perimeter-footer p-sm">
        <div class="row middle-xs">
            <div class="col-xs-6">
                <a href="#" class="gyf-icon mod-dark">
                    <i class="fa fa-pencil-square-o"></i>
                </a>

                <a href="#" class="gyf-icon mod-dark mod-disabled" disabled>
                    <i class="fa fa-filter"></i>
                </a>
            </div>
            <div class="col-xs-6 end-xs">
                <a href="#" class="gyf-btn mod-primary">Valider</a>
            </div>
        </div>
    </div>
</div>
```

*/

#{$this} { 
    width:285px;
    font-size:12px;
    border-radius: 0 0 2px 2px;
    
    &-type {
        background:color($color-light,'09');
    }
    
    &-content {
        background:color($color-light,'02');
        overflow: auto;
        height: 210px;
        border:1px solid #cac6c3;
    }
    
    &-footer {
        background:color($color-light,'03');
        border:1px solid #cac6c3;
        border-top:none;
        border-radius: 0px 0px 2px 2px;
    }
    
    .gyf-icon {
        
        &:hover {
            color:color($color-highlight,'10');
        }
    }
}

