<form action="#">
  <div class="gyf-form-group">
    <input type="text" class="gyf-input" ng-model="user.email">
  </div>
  <div class="gyf-form-group">
    <input type="password" class="gyf-input" ng-model="user.password">
  </div>
  <a class="gyf-btn" ng-click="signUp()" >M'inscrire</a>
</form>
