$name-components: input;
$this: #{$name-base}-#{$name-components};

/*doc
---
title: Input
name: input
category: Components
---

```html_example
<div class="row">
    <div class="col-xs-6">
        <div class="gyf-form-group">
            <input type="text" class="gyf-input" id="email" placeholder="Saisir votre email...">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="gyf-form-group">
            <input type="text" class="gyf-input mod-inverse" id="emailLight" placeholder="Saisir votre email...">
        </div>
    </div>
</div>



```

*/

#{$this} {
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius;
  box-shadow: inset 0 1px 1px rgba(0,0,0, .075);
  color: $input-color;
  display: block;
  font-size: .8rem;
  height: 35px;
  line-height: 1.42857143;
  min-height: 35px;
  padding: 4px 6px;
  width: 100%;
  @include transition(border-color ease-in-out .15s,box-shadow ease-in-out .15s);

  @include placeholder {
      font-weight: 300;
  }

  &:hover {

  }

  &.mod-no-rounded {
      border-radius: 0;
  }

  &.mod-inverse {
      background-color: $input-bg-inverse;
      border: 1px solid $input-border-inverse;
      color: $input-color-inverse;
  }

  @include when-inside('.mod-required') {
      padding-right: 70px;
  }

  @include when-inside('.mod-success') {
      padding-right: 45px;
  }

  @include when-inside('.mod-error') {
    border-color: color($color-danger, '00');
    box-shadow: inset 0 1px 1px fade-out(color($color-danger, '00'), .925), 0 0 8px fade-out(color($color-danger, '00'), .4);
    padding-right: 45px;

    &:focus {
        border-color: color($color-danger, '00');
        box-shadow: inset 0 1px 1px fade-out(color($color-danger,'00'), .925), 0 0 8px fade-out(color($color-danger, '00'), .4);
    }
  }

  @include when-inside('.gyf-b-share-user') {
      border-radius: $input-border-radius $input-border-radius 0 0;
  }

  &:focus {
    border-color: color($color-highlight, '00');
    box-shadow: inset 0 1px 1px rgba(0,0,0, .075), 0 0 8px rgba(102,175,233, .6);
    outline: 0;
  }
}
