$name-components : tabs;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Onglets
name: tabs
category: Components
---

## Onglet souligné

```html_example
<ul class="gyf-tabs gyf-tabs-line">
    <li class="gyf-tabs-item mod-item-selected">
        <a class="gyf-tabs-link">Onglet 1</a>
        <div class="gyf-tabs-bloc-selected"></div>
    </li>
    <li class="gyf-tabs-item">
        <a class="gyf-tabs-link">Onglet 2</a>
        <div class="gyf-tabs-bloc-selected"></div>
    </li>
</ul>

```

## Onglet bulle
```html_example
<ul class="gyf-tabs gyf-tabs-bubble">
    <li class="gyf-tabs-item mod-item-selected">
        <a class="gyf-tabs-link">Onglet 1</a>
    </li>
    <li class="gyf-tabs-item">
        <a class="gyf-tabs-link">Onglet 2</a>
    </li>
</ul>

```

## Options

```
    .mod-full-width
```


```html_example
<ul class="gyf-tabs gyf-tabs-bubble mod-light">
    <li class="gyf-tabs-item mod-item-selected">
        <a class="gyf-tabs-link">Onglet 1</a>
    </li>
    <li class="gyf-tabs-item">
        <a class="gyf-tabs-link">Onglet 2</a>
    </li>
</ul>

```

*/

#{$this} { 
    margin:0;
    padding:0;
    font-size: 1em;
    
    &-item {
        list-style: none;
        display: inline-block;
        position: relative;
    }

    &-link {

    }

    &-bloc-selected {

    }
    
    &.mod-full-width {
        @include display(flex);
        @include justify-content(space-between);
    }
}

#{$this}-bubble {
    
    
    #{$this}-item {
        border-radius: 150px;
        border:1px solid transparent;
        
        &:hover {
            cursor:pointer;
            border:1px solid color($color-highlight,'10');
            #{$this}-link {
                color:color($color-light,'00');
            }
        }
    }

    #{$this}-link {
        color:color($color-light,'07');
        padding:5px 10px;
        display: inline-block;
    }

    .mod-item-selected {
        background:color($color-highlight,'10');
        border:1px solid color($color-highlight,'10');
        
        #{$this}-link {
            color:color($color-light,'00');
        }
    }


    &.mod-light {
        #{$this}-link {
            color:color($color-dark,'09');
        }
    
        .mod-item-selected {
            background:color($color-light,'03');
            border:1px solid #bebcbb;
            #{$this}-link {
                color:color($color-dark,'03');
            }
        }

        #{$this}-item {
            &:hover {
                border:1px solid #bebcbb;
                #{$this}-link {
                    color:color($color-dark,'00');
                }
            }    
        }
    }
}


#{$this}-line {
    border-bottom: 1px solid color($color-light,'03');

    .gyf-tabs-bloc-selected {
        background:transparent;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -1px;
    }

    
    #{$this}-item {
        
        position: relative;
        padding-bottom: 10px;
        
        &:hover {
            cursor: pointer;
            #{$this}-link {
                color:color($color-dark,'00');
            }
        
            .gyf-tabs-bloc-selected {
                background:color($color-light,'09');
            }
        }
        
    }

    .mod-item-selected {
        #{$this}-link {
            color:color($color-dark,'00');
        }
        
        .gyf-tabs-bloc-selected {
            background:color($color-highlight,'00');
        }

        &:hover {
            .gyf-tabs-bloc-selected {
                background:color($color-highlight,'00');
            }
        }
    }

    #{$this}-link {
        color:color($color-medium,'01');
        padding:10px;
        text-transform: uppercase;
        font-size:.9em;
    }
}