$name-components: dropdown;
$this: #{$name-base}-#{$name-components};

/*doc
---
title: Liste déroulante
name: dropdown
category: Components
---

```html_example
<div class="gyf-dropdown">
    <button class="gyf-btn mod-inverse mod-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="fa fa-angle-down icon-dropdown"></span>
    </button>
    <ul class="gyf-dropdown-menu is-shown" aria-labelledby="dropdownMenu1">
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
    </ul>
</div>
```


## Options

Ajouter la classe ```mod-dark``` sur gyf-dropdown-menu :

```html_example
<div class="gyf-dropdown">
    <button class="gyf-btn mod-default mod-dropdown dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="fa fa-angle-down icon-dropdown"></span>
    </button>
    <ul class="gyf-dropdown-menu is-shown mod-dark" aria-labelledby="dropdownMenu1">
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
        <li class="gyf-dropdown-item"><a class="gyf-dropdown-link" href="#">Action</a></li>
    </ul>
</div>
```

*/

#{$this} {
  position: relative;

  &-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    z-index: z('dropdown');
    margin: 2px 0 0;
    border: 1px solid rgba(0, 0, 0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color: color($color-light, '00');
    padding: 5px 0;
    min-width: 160px;
    list-style: none;
    text-align: left;
    font-size: 12px;
    background-clip: padding-box;

    &.is-shown {
      display: block;
      position: static;
      clear: left;
      margin-bottom: 5px;
    }

    &.mod-dark {
      background-color: color($color-dark, '03');
    }
  }

  &-link {
    display: block;
    clear: both;
    padding: 3px 20px;
    line-height: 1.42857143;
    white-space: nowrap;
    color: color($color-dark, '03');
    font-weight: 400;

    @include when-inside('.mod-dark') {
      color: color($color-light, '03');
    }

    &:hover {
      background: color($color-highlight, '00');
      color: color($color-light, '00');
    }
  }
}
