$name-components : search-input;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Input search
name: searchInput
category: Components
---


```html_example
<div class="row">
    <div class="col-xs-6">
        <div class="gyf-search-input">
            <i class="icon-search fa fa-search"></i>
            <input type="text" class="gyf-input" placeholder="Rechercher..." data-input="search">
            <i class="icon-empty fa fa-times" data-action="remove-search"></i>
        </div>
    </div>
</div>

```

*/

#{$this} { 
    position:relative;

    .icon-search {
        position:absolute;
        top: 50%;
        margin-top:-6px;
        left: 8px;
        font-size: .8rem;
        color:color($color-light,'13');
    }
    
    .icon-empty {
        position:absolute;
        top: 50%;
        margin-top:-6px;
        right: 8px;
        font-size: .8rem;
        color:color($color-light,'13');
        display: none;
        
        
        &.is-shown {
            display: block;
        }
        
        &:hover {
            cursor: pointer;
            color:color($color-dark,'05');
        }
        
    }

    .gyf-input {
        padding-left:25px;
    }


}