$name-components : toast;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Toast
name: toast
category: Components
---

Par défaut, les toasts disparaissent au bout de 3 secondes.

Pour les faire apparaitre, on ajoute la classe `fadeInDown` et `is-shown`.<br/>
Pour les faire disparaitre, on ajoute la classe `fadeOutDown`.

```html_example
<a class="gyf-btn mod-success" data-action="showToaster">Toaster</a>
<div class="gyf-toast animated mod-ico mod-ico-left mod-success" data-toaster="showToaster">
    <div class="gyf-toast-container">
        <div class="gyf-toast-content">
            Saved
        </div>

        <i class="fa fa-check"></i>
    </div>
</div>

```

```html_example
<div class="gyf-toast animated mod-ico mod-ico-left mod-success is-shown">
    <div class="gyf-toast-container">
        <div class="gyf-toast-content">
            Saved
        </div>

        <i class="fa fa-check"></i>
    </div>
</div>

<div class="gyf-toast animated mod-ico mod-ico-right mod-info is-shown">
    <div class="gyf-toast-container">
        <div class="gyf-toast-content">
            Information
        </div>

        <i class="fa fa-info-circle"></i>
    </div>
</div>

<div class="gyf-toast animated mod-ico mod-ico-left mod-error is-shown">
    <div class="gyf-toast-container">
        <div class="gyf-toast-content">
            Error
        </div>

        <i class="fa fa-warning"></i>
    </div>
</div>

```


## Type de toats 

Type            | Modifier Class
----------------| ------------------------
Succès          | `mod-success`
Erreur          | `mod-error`
Information     | `mod-info`

## Contenu 

Type de contenu  | Modifier Class
----------------| ------------------------
Sans icône      | Par défaut
Avec icône      | `mod-ico`
Icône gauche    | `mod-ico-left`
Icône droit      | `mod-ico-right`


*/

#{$this} { 
    border-radius:150px;
    border:1px solid color($color-light,'03');
    background:transparent;
    padding:5px 10px;
    /*display: inline-block;*/
    font-size:11px;
    text-transform: uppercase;
    display: none;
    
    &.is-shown {
        display: inline-block;
    }
    
    &-container {
        @include display(flex);
        @include align-items(center);
    }
    
    &.mod-success {
        border-color:color($color-success,'00');
        color:color($color-success,'00');
    }
    
    &.mod-info {
        border-color:color($color-highlight,'00');
        color:color($color-highlight,'00');
    }
    
    &.mod-error {
        border-color:color($color-danger,'00');
        color:color($color-danger,'00');
    }
    
    &.mod-ico-left {
        #{$this}-container {
            @include flex-direction(row-reverse);
        }
    
        #{$this}-content {
            margin-left:5px;    
        }
    }
    
    &.mod-ico-right {
        #{$this}-content {
            margin-right:5px;    
        }
    }
}