$name-components : number;
$this : #{$name-base}-#{$name-components};

#{$this} {
  @include display(flex);
  @include flex(0 0 30px);

  font-size: 10px;
  font-weight: 700;

  &.mod-open {
    color: color($color-danger, '00');
  }

  &.mod-progress {
    color: color($color-highlight, '00');
  }

  &.mod-close {
    color: color($color-success, '00');
  }
}
