$name-components : spinner;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Spinner
name: spinner
category: Components
---

Spinner/Loader à afficher lors d'un chargement.

```html_example
<div class="gyf-spinner pl-">
    <div class="gyf-spinner-content">
        <div class="gyf-spinner-loading"></div>
    </div>
</div>

```

## Options


```html_example
<div class="gyf-spinner pl-md mod-xsmall">
    <div class="gyf-spinner-content ">
        <div class="gyf-spinner-loading"></div>
    </div>
</div>

<div class="gyf-spinner pl-md mod-dark">
    <div class="gyf-spinner-content ">
        <div class="gyf-spinner-loading"></div>
    </div>
</div>

```

*/

#{$this} {

    position:relative;
    min-height: 40px;
    height: 100%;

    &-content {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        position: absolute;
    }

    &-loading {
        margin: -15px auto 0 -15px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-indent: -9999em;
        border-top: 1px solid rgba(0,162,227,.2);
        border-right: 1px solid rgba(0,162,227,.2);
        border-bottom: 1px solid rgba(0,162,227,.2);
        border-left: 1px solid #00a2e3;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: rotateLoading 1.1s infinite linear;
        animation: rotateLoading 1.1s infinite linear;
        top: 50%;
        position: absolute;
        left: 50%;
    }

    &.mod-dark {
        #{$this}-loading {
            border-top: 1px solid fade-out(color($color-dark,'00'),0.8);
            border-right: 1px solid fade-out(color($color-dark,'00'),0.8);
            border-bottom: 1px solid fade-out(color($color-dark,'00'),0.8);
            border-left: 1px solid color($color-dark,'00');
        }
    }

    &.mod-xsmall {
        #{$this}-loading {
            margin: -7.5px auto 0  -7.5px;
            width: 15px;
            height: 15px;
        }
    }
}

@include keyframes(rotateLoading) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}