@import 'table/index';

/* doc
---
title: Layout
name: 00_layout
category: Layout
---

*/

.gyf-container {
  @include display(flex);
  height:100vh;
}

.gyf-content {
  @include flex(1);
  background: color($color-medium, '00');
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.gyf-sidebar {
  @include flex(0 0 70px);

  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  background: color($color-dark, '00');
  color: color($color-light, '00');
  padding:10px;

}

.gyf-all-feedbacks {
  @include flex(0 0 320px);
  background: color($color-light, '00');
  border-right: 1px solid #F1F1F1;
  overflow-y: auto;
  overflow-x: hidden;
}

.gyf-no-feedbacks-container {
  height: 100vh;
  overflow: hidden;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

.gyf-detail-feedback {

}
