$name-components: chips;
$this: #{$name-base}-#{$name-components};

/*doc
---
title: Chips
name: chips
category: Components
---

On utilise le composant [profil][profil] sans le mail.

```html_example
<div class="row middle-xs">
    <div class="gyf-chips">
        <div class="gyf-profil">
            <img class="gyf-avatar mod-xs" src="img/profil.png">
            <div class="gyf-profil-content">
                <div class="gyf-profil-fullname">
                    <span class="">Johnny</span>
                    <span class="u-bold">Hallyday</span>
                </div>
            </div>
        </div>
        <span class="gyf-chips-clear">
            <i class="fa fa-times-circle"></i>
        </span>
    </div>

    <div class="gyf-chips">
        <span class="gyf-chips-content">Erwan Lumbroso</span>
        <span class="gyf-chips-clear">
            <i class="fa fa-times-circle"></i>
        </span>
    </div>

    <div class="gyf-chips">
        <span class="gyf-chips-content">Erwan Lumbroso</span>
        <span class="gyf-chips-clear">
            <i class="fa fa-times-circle"></i>
        </span>
    </div>
</div>


```

*/


#{$this} {
  @include display(inline-flex);
  @include align-items(center);
  border-radius: 150px;
  background: $chips-bg;
  padding: 5px 10px;
  max-width: 100%;
  height: 27px;
  color: $chips-color;
  font-size: .9em;

  &-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-clear {
    @include display(inline-flex);
    @include align-items(center);
    opacity: .8;
    margin-left: 5px;
    font-size: 1.1em;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  + #{$this} {
    margin-left: 5px;
  }
}
