$name-components : tooltip;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Tooltip
name: tooltip
category: Components
---

Il est possible d'ajouter un tooltip sur n'importe quel élément avec la classe `.gyf-tooltip`.

Le contenu du tooltip est récupéré depuis l'attribut `data-gyf-tooltip`.

```html_example

<div class="row">
    <div class="col-xs-3 center-xs">
        <button class="gyf-btn mod-primary gyf-tooltip" data-gyf-tooltip="Tooltip au survol">top tooltip</button>
    </div>

    <div class="col-xs-3 center-xs">
        <button class="gyf-btn mod-primary gyf-tooltip mod-tooltip-right" data-gyf-tooltip="Tooltip au survol" >right tooltip</button>
    </div>

    <div class="col-xs-3 center-xs">
        <button class="gyf-btn mod-primary gyf-tooltip mod-tooltip-bottom" data-gyf-tooltip="Tooltip au survol" d>bottom tooltip</button>
    </div>

    <div class="col-xs-3 center-xs">
        <button class="gyf-btn mod-primary gyf-tooltip mod-tooltip-left mod-tooltip-inverse" data-gyf-tooltip="Tooltip au survol" >left tooltip inverse</button>
    </div>
</div>

```

*/

#{$this} {
    position: relative;

    &:after {
        background-color: fade-out(color($color-dark,'00'),0.2);
        border-radius: 2px;
        bottom: 100%;
        color: color($color-light,'00');
        content: attr(data-gyf-tooltip);
        display: block;
        font-size: 11px;
        left: 50%;
        line-height: 1.6rem;
        min-width: 2rem;
        max-width: 32rem;
        opacity: 0;
        overflow: hidden;
        padding: 5px 10px;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        transition: all .216s ease;
        z-index: z('tooltip');
        text-align: center;
    }

    &:focus {
        outline:none;
    }

    &:hover, &:focus {
        &:after {
            opacity: 1;
            -webkit-transform: translate(-50%, -.5rem);
            transform: translate(-50%, -.5rem);
        }
    }

    &.mod-tooltip-inverse {
        &:after {
            color: color($color-dark,'00');
            background-color: fade-out(color($color-light,'00'),0.2);
        }
    }

    &.mod-tooltip-right {
        &:after {
            bottom: 50%;
            left: 100%;
            -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
        }

        &:hover, &:focus {
            &:after {
                -webkit-transform: translate(.5rem, 50%);
                transform: translate(.5rem, 50%);
            }
        }

    }

    &.mod-tooltip-left {
        &:after {
            bottom: 50%;
            left: auto;
            right: 100%;
            -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
        }

        &:hover, &:focus {
            &:after {
                -webkit-transform: translate(-.5rem, 50%);
                transform: translate(-.5rem, 50%);
            }
        }

    }

    &.mod-tooltip-bottom {
        &:after {
            bottom: auto;
            top: 100%;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

        &:hover, &:focus {
            &:after {
                -webkit-transform: translate(-50%, .5rem);
                transform: translate(-50%, .5rem);
            }
        }



    }


}
