<div class="gyf-sidebar">
  <dig class="gyf-profil">
    <a class="gyf-profil-noavatar" href="#/profile">
      {{currentUser.displayName}}
    </a>
  </dig>

</div>

<div class="gyf-all-feedbacks">

  <div class="gyf-spinner mod-dark" ng-show="loadingFeedback">
    <div class="gyf-spinner-content">
        <div class="gyf-spinner-loading"></div>
    </div>
  </div>

  <div class="gyf-no-feedbacks-container" ng-show="noFeedbacks">
    <div class="gyf-no-feedbacks" >
      Aucun feedbacks.
    </div>
  </div>
<div>

</div>
  <div class="gyf-feedback" ng-repeat="feedback in feedbacks | orderBy: '-issueNumber':reverse " ng-click="selectFeedback(feedback.eid)" data-feedback-id="{{feedback.eid}}">
    <div class="gyf-number mod-{{feedback.status}}">
      # {{ feedback.issueNumber }}
    </div>
    <div class="gyf-feedback-content">
      <h4 class="gyf-feedback-title">
        {{ feedback.title }}
      </h4>
      <p class="gyf-feedback-desc">
        {{ feedback.description }}
      </p>
    </div>
  </div>
</div>

<div class="gyf-content gyf-detail-feedback">
  <div ng-show="hasFeedbackSelected">

    <div class="row">
      <div class="col-xs-12">
        <ul class="gyf-feedback-status">
          <li class="gyf-feedback-status-element mod-open gyf-tooltip mod-tooltip-bottom" ng-class="{'is-active':selectedFeedback[0].status == 'open'}" ng-click="updateStatus(selectedFeedback[0].eid,'open')" data-gyf-tooltip="Ouvrir le feedback">

          </li>
          <li class="gyf-feedback-status-element mod-progress gyf-tooltip mod-tooltip-bottom" ng-class="{'is-active':selectedFeedback[0].status == 'progress'}" ng-click="updateStatus(selectedFeedback[0].eid,'progress')" data-gyf-tooltip="Prendre en compte le feedback">

          </li>
          <li class="gyf-feedback-status-element mod-close gyf-tooltip mod-tooltip-bottom" ng-class="{'is-active':selectedFeedback[0].status == 'close'}" ng-click="updateStatus(selectedFeedback[0].eid,'close')" data-gyf-tooltip="Fermer le feedback">

          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-sm">
      <div class="col-xs-12 col-sm-11">
        <h3 class="gyf-feedback-title">
          {{ selectedFeedback[0].title }}
        </h3>
      </div>
      <div class="col-xs-12 col-sm-1">
        <span ng-click="updateArchive(selectedFeedback[0].eid,true)">archiver</span>
      </div>
    </div>

    <div class="row mt-sm">
      <div class="col-xs-12">
        <ul class="gyf-detail-feedback-detail">
          <li>
            <a ng-href="{{ selectedFeedback[0].url }}" target="_blank">{{ selectedFeedback[0].url }}</a>
          </li>
          <li ng-bind="selectedFeedback[0].browser">
          </li>
        </ul>
      </div>
    </div>


    <div class="row mt-sm">
      <div class="col-xs-12 col-sm-6">
        <div class="gyf-detail-feedback-img">
          <a href="{{ selectedFeedback[0].capture }}" data-lightbox="feedback" data-title="{{ selectedFeedback[0].title }}">
            <img ng-src="{{ selectedFeedback[0].capture }}" class="img-responsive">
          </a>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-6">
        <p class="gyf-feedback-desc">
          {{ selectedFeedback[0].description }}
        </p>
      </div>
    </div>
  </div>

</div>
