$name-components : icon;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Icon
name: icon
category: Components
---

Vous pouvez retrouver la liste des icones sur le site de <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">FontAwesome</a>.

```html_example
<a class="gyf-icon gyf-tooltip" data-gyf-tooltip="Filtrer">
    <i class="fa fa-filter"></i>
</a>
```

*/

#{$this} { 
    
    font-size: 1rem;
    
    &.mod-light {
        color:color($color-light,'03');
    }
    
    &.mod-dark {
        color:color($color-dark,'03');
        
        &[disabled], &.mod-disabled {
            color:color($color-light,'13');
            &:hover {
                cursor:not-allowed;
                color:color($color-light,'13');
            }
        }
    }
    
    & + #{$this} {
        margin-left:10px;
    }
    
    &:hover {
        cursor: pointer;
        color:color($color-highlight,'10');
    }
    
}
