$name-components: form;
$this: #{$name-base}-#{$name-components};

/*doc
---
title: Formulaire
name: forms
category: Layout
---

### Inputs

Pour lier le label et l'input, il faut qu'un `for` soit présent sur le label et qu'un `id` soit présent sur l'input avec la même valeur.

```html_example
<div class="gyf-form-group">
    <label class="gyf-form-label" for="email">Email address</label>
    <input type="text" class="gyf-input" id="email" placeholder="Saisir votre email...">
</div>

<div class="gyf-form-group">
    <label class="gyf-form-label mod-light" for="emailLight">Email address</label>
    <input type="text" class="gyf-input mod-inverse" id="emailLight" placeholder="Saisir votre email...">
</div>

<div class="gyf-form-group mod-required">
    <label class="gyf-form-label" for="emailRequired">Email address</label>
    <input type="text" class="gyf-input" id="emailRequired" placeholder="Saisir votre email...">
    <span class="gyf-form-label-required">
        required
    </span>
</div>

<div class="gyf-form-group mod-success">
    <label class="gyf-form-label" for="emailSuccess">Email address</label>
    <input type="text" class="gyf-input" id="emailSuccess" placeholder="Saisir votre email...">
    <span class="gyf-form-label-success">
        <i class="fa fa-check-circle"></i>
    </span>
</div>

<div class="gyf-form-group mod-error">
    <label class="gyf-form-label" for="emailError">Email address</label>
    <input type="text" class="gyf-input" id="emailError" placeholder="Format du mail : mathieu.llorens@atinternet.com">
    <span class="gyf-form-label-error">
        <i class="fa fa-warning"></i>
    </span>
    <div class="gyf-form-information">
        Votre email ne correspond pas au format attendu, par exemple mathieu.llorens@atinternet.com.
    </div>
</div>
```

### Checkbox & radios

#### Inline

```html_example
<div class="gyf-form-checkbox mod-inline">
    <label class="gyf-form-label">
        <input type="checkbox">Check me out
    </label>
</div>

<div class="gyf-form-radio mod-inline">
    <label class="gyf-form-label">
        <input type="radio">Check me out
    </label>
</div>
```

#### Block

```html_example
<div class="gyf-form-checkbox">
    <label>
        <input type="checkbox">Check me out
    </label>
</div>

<div class="gyf-form-radio">
    <label>
        <input type="radio">Check me out
    </label>
</div>
```

*/

#{$this} {

  &-information {
    position: relative;
    top: -3px;
    border-radius: 0 0 2px 2px;
    padding: 10px;
    font-size: .9em;

    @include when-inside('.mod-error') {
      box-shadow: 0 1px 1px 0 color($color-danger, 'dark');
      background: color($color-danger, '00');
      color: color($color-light, '00');
    }
  }

  &-group {
    position: relative;
    margin-bottom: 15px;
  }

  &-label-error {
    display: none;
    position: absolute;
    top: 24px;
    right: 15px;
    color: color($color-danger, '00');
    font-size: 1.2em;

    @include when-inside('.mod-error') {
      display: inline-block;
    }
  }

  &-label-success {
    display: none;
    position: absolute;
    top: 24px;
    right: 15px;
    color: color($color-success, '00');
    font-size: 1.2em;

    @include when-inside('.mod-success') {
      display: inline-block;
    }
  }

  &-label-required {
    display: none;
    position: absolute;
    top: 28px;
    right: 15px;
    color: color($color-highlight, '10');
    font-size: .8em;

    @include when-inside('.mod-required') {
      display: inline-block;
    }
  }

  &-label {
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
    text-transform: uppercase;
    color: color($color-dark, '03');
    font-size: .6rem;
    font-weight: 700;

    &.mod-light {
      color: color($color-light, '03');
    }
  }

  &-checkbox, &-radio {
    display: block;
    position: relative;
    margin-top: 0;
    padding-left: 20px;

    #{$this}-label {
        font-weight: 500;
        margin-top: 0;
        font-size: .8rem;
        margin-right: 20px;
        vertical-align: middle;
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        cursor: pointer;
        display: block;
        text-transform: inherit;
    }

    input[type=checkbox], input[type=radio] {
        margin: 4px 0 0;
        line-height: normal;
        position: absolute;
        margin: 4px 0 0;
        margin-left: -20px;
        padding:0;
    }

    &.mod-inline {
        display: inline-block;
        &:first-child {
            padding-left: 0;
        }
    }
  }
}
