$name-components : popup;
$this : #{$name-base}-#{$name-components};

/*doc
---
title: Popup
name: popup
category: Components
---

Pour fermer une popup, il est possible soit de cliquer sur la croix en haut à droite, soit d'appuyer sur la touche échap.

```html_example

<a class="gyf-btn mod-primary" data-toggle="modal" data-href="demo">Ouvrir une popup</a>

<div class="gyf-popup" id="demo">
    <div class="gyf-popup-filter"></div>
    <a class="gyf-popup-close" data-dismiss="modal">
        <i class="pe-7s-close-circle"></i>
    </a>
    <div class="gyf-popup-container">
        <div class="gyf-popup-header">
            <h3>Partager le tableau de bord avec ...</h3>
        </div>
        <div class="gyf-popup-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid cum distinctio ducimus earum et id impedit ipsa laudantium molestiae perferendis placeat reiciendis repellendus rerum sunt, suscipit tenetur totam, voluptate.</p>
        </div>
        <div class="gyf-popup-footer">
            <a class="gyf-btn mod-link" data-dismiss="modal">annuler</a>
            <a class="gyf-btn mod-primary mod-lg" data-dismiss="modal">Partager</a>
        </div>
    </div>
</div>
```

*/

.is-modal-open {
    overflow: hidden;
}

#{$this} { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: z('modal');
    @include transition(all 0.4s ease-in-out);
    @include transform(translate(0, -5px));
    visibility: hidden;
    opacity: 0;

    &-filter {
        background: fade-out(color($color-light,'00'),0.1);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    &-close {
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 50px;
        color: color($color-light,'11');
        z-index: 1;
        @include transition(all 0.4s ease-in-out);
        &:hover {
            cursor: pointer;
            color:color($color-highlight,'00');
        }
    }

    &-container {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        @include flex-direction(column);
        
        position: relative;
        height:100vh;
        max-width: 80vw;
        padding: 40px;
        margin: 0 auto;
    }

    &-header {
        text-transform: uppercase;
        color:color($color-dark,'03');
        &:after {
            width: 150px;
            background:color($color-dark,'07');
            height:1px;
            content:'';
            position: relative;
            display: inline-block;
            margin: 0 auto;
            left: 50%;
            margin-left: -75Px;
        }
    }

    &-content {
        min-height: 200px;
        max-height: 80vh;
        overflow: auto;
    }

    &-footer {
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-around);
        width: 100%;
    }

    &.is-shown {
        display: inline-block;
        @include transition(all 0.4s ease-in-out);
        @include transform(translate(0, 0px));
        visibility: visible;
        opacity: 1;
    }
}