$name-bloc : share-user;
$this : #{$name-base-bloc}-#{$name-bloc};

/*doc
---
title: Partage
name: shareUser
category: Blocs
---

```html_example
<div class="gyf-b-share-user">
    <div class="gyf-search-input">
        <i class="icon-search fa fa-search"></i>
        <input type="text" class="gyf-input" placeholder="Rechercher..." data-input="search">
        <i class="icon-empty fa fa-times" data-action="remove-search"></i>
    </div>
    <div class="gyf-b-share-user-container">
        <ul class="gyf-b-share-user-list">
            <li class="gyf-b-share-user-item">
                <div class="gyf-profil">
                    <img class="gyf-avatar" src="img/profil.png">
                    <div class="gyf-profil-content">
                        <div class="gyf-profil-fullname">
                            <span class="">Johnny</span>
                            <span class="u-bold">Hallyday</span>
                        </div>
                        <div class="gyf-profil-mail">
                            johnny.hallyday@maisonderetraite.comfdlskjfkldsjflkdsflksdlkfjlksdjfklmdsjflkjsdlmkfsdklmfj
                        </div>
                    </div>
                </div>
                <div class="gyf-b-share-user-ico">
                    <i class="fa fa-check-circle"></i>
                </div>
            </li>
            <li class="gyf-b-share-user-item mod-selected">
                <div class="gyf-profil">
                    <img class="gyf-avatar" src="img/profil2.jpg">
                    <div class="gyf-profil-content">
                        <div class="gyf-profil-fullname">
                            <span class="">Sandrine</span>
                            <span class="u-bold">Lafon</span>
                        </div>
                        <div class="gyf-profil-mail">
                            Sandrine.lafon@atinternet.com
                        </div>
                    </div>
                </div>
                <div class="gyf-b-share-user-ico">
                    <i class="fa fa-check-circle"></i>
                </div>
            </li>
            <li class="gyf-b-share-user-item mod-selected">
                <div class="gyf-profil">
                    <img class="gyf-avatar" src="img/profil3.jpg">
                    <div class="gyf-profil-content">
                        <div class="gyf-profil-fullname">
                            <span class="">Eric</span>
                            <span class="u-bold">Lopez</span>
                        </div>
                        <div class="gyf-profil-mail">
                            Eric.Lopez@atinternet.com
                        </div>
                    </div>
                </div>
                <div class="gyf-b-share-user-ico">
                    <i class="fa fa-check-circle"></i>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="gyf-b-share-user mt-lg">
        <div class="gyf-search-input">
            <i class="icon-search fa fa-search"></i>
            <input type="text" class="gyf-input" placeholder="Rechercher..." value="gerald b" data-input="search">
            <i class="icon-empty fa fa-times is-shown" data-action="remove-search"></i>
        </div>
        <div class="gyf-b-share-user-container">
            <span class="gyf-b-share-user-noresult">Aucun utilisateur ne correspond à votre recherche.</span>
        </div>
    </div>
```

*/

#{$this} { 
    max-width: 375px;
    min-width: 300px;
    
    &-container {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        
        background:color($color-light,'00');
        border:1px solid $input-border;
        width: 100%;
        border-top:0;
        min-height: 50px;
    }
    
    &-noresult {
        font-size: .9em;
        color:color($color-dark,'07');
    }
    
    
    &-list {
        @include display(flex);
        @include flex-direction(column);
        width: 100%;
    }
    
    &-item {
        @include display(flex);
        @include align-items(center);
        
        padding:10px;
        border-bottom:1px solid color($color-light,'03');
        
        &.mod-selected {
            #{$this}-ico {
                color:color($color-highlight,'10');
            }
        }
        
        &:last-child {
            border-bottom:none;
        }
        
        &:hover {
            background:color($color-light,'01');
            cursor: pointer;
        }
    }
    
    &-ico {
        color:color($color-light,'05');
        margin-left: auto;
        font-size:1.4em;
    }
}

