<div class="gyf-sidebar">
  <dig class="gyf-profil">
    <div class="gyf-profil-noavatar">
      {{ currentUser.displayName }}
    </div>
  </dig>
</div>


<div class="gyf-content">
  <div class="row">
    <div class="col-xs-12">
      <h2>Profile</h2>
      <div class="row">
        <div class="col-xs-6">
          {{ currentUser | json }}
        </div>
      </div>
    </div>
  </div>
</div>
