$name-components : feedback;
$this : #{$name-base}-#{$name-components};

#{$this} {
  @include display(flex);
  border-bottom: 1px solid #F1F1F1;
  padding: 20px 10px 5px 20px;
  height: 105px;

  &:hover {
    background: #F1F1F1;
    cursor: pointer;
  }

  &.is-active {
    background: color($color-highlight, '10');
    color: color($color-light, '00');
  }

  &-content {
    @include display(flex);
    @include flex-direction(column);
    @include flex(1);
  }

  &-desc {
    font-weight: 300;
    margin-top: 10px;

    @include when-inside('.gyf-all-feedbacks') {
      max-height: 40px;
      overflow: hidden;
      width: 100%;
    }

  }

}

.gyf-detail-feedback {
  @include display(flex);
  @include flex-direction(column);

  &-content {
    @include display(flex);
    margin-top: 10px;
  }

  &-img {
    margin-top:10px;
    margin-bottom:10px;
  }

  &-detail {
    @include display(flex);
    @include flex-direction(column);
    @include flex(0 0 20px);
    > li {
      font-weight: 300;
      font-size: .9em;
      color:color($color-dark, '07');
    }
  }

  .gyf-feedback-desc {
    @include flex(1);
    margin-top: 0;
  }

}

.gyf-feedback-status {

  @include display(flex);
  @include flex(0 0 40px);

  &-element {
    border-radius:150px;
    height:20px;
    width: 20px;
    margin-left: 10px;

    border:1px solid #F1F1F1;
    padding:3px;

    box-shadow:inset 0 0 0 2px color($color-medium, '00');

    &:hover {
      cursor:pointer;
    }

    &:first-child {
      margin-left:0;
    }

    &.mod-open {
      background: color($color-danger, '00');
    }

    &.mod-progress {
      background: color($color-highlight, '00');
    }

    &.mod-close {
      background: color($color-success, '00');
    }

    &.is-active {

      &.mod-open {
        border: 1px solid color($color-danger, '00');
      }
      &.mod-progress {
        border: 1px solid color($color-highlight, '00');
      }
      &.mod-close {
        border: 1px solid color($color-success, '00');
      }
    }
  }
}
