$name-components: badge;
$this: #{$name-base}-#{$name-components};

/*doc
---
title: Badge
name: badge
category: Components
---

Le badge doit être inséré dans un élément qui est en position relative. Vous pouvez utiliser le helper ` .u-relative ` sur le conteneur.

```html_example
<div class="gyf-b-select-perimeter">
    <div class="gyf-b-select-perimeter-type p-sm">
        <div class="row">
            <div class="col-xs-12">
                <ul class="gyf-tabs gyf-tabs-bubble mod-light mod-full-width">
                    <li class="gyf-tabs-item mod-item-selected">
                        <a class="gyf-tabs-link">Groupes</a>
                        <div class="gyf-badge">
                            2
                        </div>
                    </li>
                    <li class="gyf-tabs-item">
                        <a class="gyf-tabs-link">Sites</a>
                        <div class="gyf-badge mod-inverse">
                            2
                        </div>
                    </li>
                    <li class="gyf-tabs-item">
                        <a class="gyf-tabs-link">Level 2 sites</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


```

*/

#{$this} {
  display: inline-block;
  position: absolute;
  top: -3px;
  right: -5px;
  z-index: z('badge');
  border: 1px solid $badge-border;
  border-radius: 150px;
  background: $badge-bg;
  width: 16px;
  height: 16px;
  text-align: center;
  color: $badge-color;
  font-size: .75em;

  &.mod-inverse {
    border: 1px solid $badge-border-inverse;
    background: $badge-bg-inverse;
    color: $badge-color-inverse;
  }
}
